
<a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration:none"><button type="button" class="btn-close btn btn-danger btn-outline-danger" aria-label="Close"> </button></a>


<div class="container mt-5 pt-5 pb-5 mb-5">
    
    

<h1 class="text-center ">Add New Employee!</h1>

<div class="mx-auto p-2" style="width: 500px">

<form class="row g-3 bg-primary opacity-75  mt-3 mb-3 p-3">

    <div class="row g-3">
        <div class="col">
            <label for="inputfirstname" class="form-label"><b>First Name</b></label>
          <input type="text" class="form-control"  aria-label="First name">
        </div>
        <div class="col">
            <label for="inputsecondname" class="form-label"><b>Second Name</b></label>
          <input type="text" class="form-control"  aria-label="Last name">
        </div>
      </div>
      
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label"><b>Email</b></label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
   
    <div class="col-md-4">
      <label for="inputDesignation" class="form-label"><b>Designation</b></label>
      <input type="text" class="form-control" id="inputDesignation">
    </div>

    <div class="col-md-4">
        <label for="inputSalary" class="form-label"><b>Salary</b></label>
        <input type="number" class="form-control"  aria-label="Salary">
      </div>
    
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Add Employee</button>
    </div>
  </form>
</div>

</div>

   
